@CHARSET "UTF-8";

p#chorologie_pied_page {
	margin-top: 20px;
	text-align: center;
}

#chorologie .pagination {
	margin: 0;
	vertical-align: top;
}

#paginateur {
	margin-bottom: 5px;
	margin-top: 10px;
}

#carte polygon, #carte path {
	cursor: pointer;
}

.legende_item_couleur {
    border: 1px solid black;
    display: block;
    float: left;
    height: 20px;
    width: 20px;
}

.legende_item_nom {
	display: inline-block;
	margin-left: 5px;
}

.legende_item {
	margin-bottom : 2px;
}

.legende_titre {
	font-weight: bold;
}

.nom_sci {
	font-style: italic;
}

#pagination-par-lettre > a {
	margin-right: 4px;
}
#pagination-par-lettre > a > strong {
	font-size: 16px;
}

td.lien_eflore {
    white-space: nowrap;
}
