#legende {
    left: 10px;
    position: relative;
    top: -330px;
    width: 175px;
}

#bsh a, #bsh .pagination > li > a, #bsh .pagination > li > span {
    color: #598000;
}

#bsh a:hover, #bsh .pagination > li > a:hover, #bsh .pagination > li > span {
	color:#FD8C13;
}

#bsh ul.pagination {
    margin-bottom: -13px;
    margin-top: 7px;
}