#legende {
    left: 10px;
    position: relative;
    top: -330px;
    width: 175px;
}

#bsh a, #bsh .pagination > li > a, #bsh .pagination > li > span {
    color: #598000;
}

#bsh a:hover, #bsh .pagination > li > a:hover, #bsh .pagination > li > span {
	color:#FD8C13;
}

#bsh ul.pagination {
    margin-bottom: -13px;
    margin-top: 7px;
}

#bsh .pagination > .active > a, #bsh .pagination > .active > a:focus, #bsh .pagination > .active > a:hover, 
#bsh .pagination > .active > span, #bsh .pagination > .active > span:focus, #bsh .pagination > .active > span:hover {
	background-color: #598000;
	border-color: #598000;
}

#bsh a:active, #bsh .pagination > li > a:active  {
	background-color: #598000;
	border-color: #598000;
}